#analysis-laptop-base-setup
#Documentation/~$All Tools DFIR.xlsx
Documentation/.~lock.All Tools DFIR.ods#
.vs/
dfir-installer-lite.7z
dfir-installer-minimal.7z
_Archive
.vs
dfir-installer-min.zip
calc-new-tool-list.log
